/*
// Place all the styles related to the api/books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
// $height: 200px; //200px
// $width: 35px; //300px
// $depth: 150px; //100px
/*

      ____
^    /   /|
h   /___/ |
i   |   | |    h
e   |   | |   t
g   |   | |  p
h   |   | / e
t   |___|/ d
    width

*/
.bookshelf {
  perspective: 1000px;
  width: 100%;
}

.shelf {
  transform-style: preserve-3d;
  display: flex;
  /* justify-content: center; */
  align-items: flex-end;
  /*temp style useful in development*/
  transform: rotateX(0deg);
  transform: rotateX(-30deg);
  /* transform: rotateX(-90deg); */
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  width: 100vw;
  height: 60vh;
}

.book {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  /* position: absolute; */
  transition: transform 0.5s ease;
}

.container {
  position: relative;
  transform-style: preserve-3d;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box figure {
  margin: 0;
  display: block;
  position: absolute;
  background: white;
  border-style: none;
}

.box .top, .box .bottom, .box .back {
  background: lightgrey;
}
