body {
  padding: 0;
  margin: 0;
  font-family: 'Archivo', sans-serif;
  background: #A9A9A9	;
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  padding: 0;
  padding-left: 30px;
  padding-top: 10px;
  margin: 0;
  font-size: 60px;
  color: grey;
}

h1 a {
  text-decoration: none;
  color: grey;
}
header ul {
  display: flex;
  list-style-type: none;
}

.logo {
  height: 50px;
  width: 50px;
  opacity: 0.5;
  padding-left: 10px;
  padding-right: 10px;
}
nav {
  display: flex;
  justify-content: center;
  align-content: center;
}

.canvas {
  display: flex;
  justify-content: center;
  background-image: url("./images/wood_shelf3g.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  /*border: 3px solid red;*/
  height: 550px;
  width: 110%;
}
canvas {
  padding: 0;
  margin: auto;
  }

.options {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 10%;
  padding-top: 80px;
  text-align: center;
  font-size: 20px;
  padding-right: 50px;
}

.options button {
  display: flex;
  justify-content: center;
  border-radius: 100%;
  width:80px;
  height: 80px;
  text-align: center;
  margin-top: 20px;
  border: 1px outset grey ;
}

.options .disabled {
  background-image: url();
  background-color:  #8c8c8c
}
.options .disabled:hover {
  background-image: url();
  background-color: #8c8c8c
}
.options button  {
  background: #636363;
  border-radius: 60px;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.options button:hover {
  background: #6b6b6b
}

button:focus {
  outline: none;
}

.disabled {
  /*background: blue !important;*/
}

.content {
  display: flex;
  justify-content: space-between;
}

h3 {
  width: 80px;
}
