body {
  padding: 0;
  margin: 0;
  font-family: 'Archivo', sans-serif;
  background: #A9A9A9	;
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  padding: 0;
  padding-left: 30px;
  padding-top: 10px;
  margin: 0;
  font-size: 60px;
  color: grey;
}
header ul {
  display: flex;
  list-style-type: none;
}

.logo {
  height: 50px;
  width: 50px;
  opacity: 0.5;
  padding-left: 10px;
  padding-right: 10px;
}
nav {
  display: flex;
  justify-content: center;
  align-content: center;
}

.canvas {
  display: flex;
  justify-content: center;
  background-image: url("./images/wood_shelf3g.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  /*border: 3px solid red;*/
  height: 550px;
  width: 110%;
}
canvas {
  /*border: 5px solid black;*/
  padding: 0;
  margin: auto;
  /*background: black;*/
  }

.options {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 10%;
  padding-top: 5%;
  padding-bottom: 10%;
  text-align: center;
}

.options button {
  align-items: center;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

button:focus {
  outline: none;
}

.content {
  display: flex;
  justify-content: space-between;
}
